.action {
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-item {
    display: table;
    height: 405px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      height: 300px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      height: 220px;
    }
    @media only screen and (max-width: 767px) {
      height: 160px;
    }
    &-link {
      overflow: hidden;
    }
    &-img {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      @extend .transition-0_5s;
    }
    &-btn {
      display: inline-block;
      padding: ($site-padding * 3) $site-padding;
      width: 440px;
      @extend .btn-style;
      &:hover {
        color: $white;
        .action-item-subtitle {
          color: $white;
        }
      }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        width: 300px;
      }
      @media only screen and (max-width: 767px) {
        padding: ($site-padding * 2) $site-padding;
        width: 280px;
      }
    }
    &-title {
      display: block;
      font-size: 24px;
      line-height: 26px;
      text-transform: none;
    }
    &-subtitle {
      color: $brand-color;
      display: block;
      font-family: $font-family-base-1;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      @extend .transition-0_5s;
    }
    &:hover {
      .action-item {
        &-img {
          left: -5%;
          width: 110%;
        }
      }
    }
  }
  &-description {
    display: table-cell;
    vertical-align: middle;
  }
  & + .footer-big {
    .container:before { display: none; }
  }
}