.author {
  padding: $site-padding * 4 0;
  text-align: center;
  @media only screen and (max-width: 767px) {
    padding-bottom: $site-padding * 2;
    padding-top: $site-padding * 2;
  }
  &-avatar {
    border-radius: 50%;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
    width: 130px;
    @media only screen and (max-width: 767px) {
      float: left;
      height: 100px;
      width: 100px;
    }
    img { width: 100%; }
  }
  &-title {
    color: $white;
    display: block;
    font-family: $brand-font-bold;
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    text-transform: uppercase;
  }
  &-name {
    color: $white;
    display: block;
    font-family: $brand-font-light;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    &:hover { color: $brand-color; }
  }
  &-date {
    color: $white;
    display: block;
    font-family: $brand-font;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    margin-top: 5px;
  }
  &-more {
    color: $white;
    display: block;
    font-family: $brand-font-bold;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    margin-top: $site-padding * 2;
    text-transform: uppercase;
    @media only screen and (max-width: 767px) {
      margin-top: $site-padding;
    }
  }

  &-share {
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
    margin-top: $site-padding * 2;
    padding: $site-padding / 2 0;
    text-align: center;
    &-list {
      list-style: none;
      margin: $site-padding / 2 0;
      padding: 0;
    }
    &-item {
      display: inline-block;
      padding: 0 $site-padding / 2;
    }
    &-link {}
    &-text {
      color: $gray-dark;
      font-family: $brand-font;
      font-size: 11px;
      line-height: 15px;
      margin: $site-padding / 2 0;
    }
  }

  &--contrast {
    .author {
      &-title { color: $brand-color; }
      &-name {
        color: $gray-dark;
        &:hover { color: $brand-color; }
      }
      &-date { color: $gray-dark; }
    }
  }
  &-article {
    background-color: $gray-light;
    border-bottom: 1px solid $gray;
    display: none;
    margin-left: -$site-padding;
    margin-right: -$site-padding;
    margin-top: -$site-padding;
    padding-bottom: $site-padding;
    padding-left: $site-padding;
    padding-right: $site-padding;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      display: block;
      padding-left: $site-padding;
      padding-top: $site-padding * 2;
      @extend .clearfix;
    }
    @media only screen and (max-width: 767px) {
      display: block;
    }
    .author {
      &-avatar {
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          display: inline-block;
          margin-bottom: 0;
        }
      }
      &-description {
        overflow: hidden;
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          display: inline-block;
        }
      }
      &-title { color: $brand-color; }
      &-name { color: $gray-dark; }
      &-date { color: $gray-dark; }
      &-share {
        border-bottom: none;
        //margin-left: 110px;
        margin-top: 5px;
        overflow: hidden;
        padding: 0;
      }
    }
  }
}