.btn {
  border-radius: 0;
  &--black {
    background-color: $black;
    color: $white;
    &:visited { color: $white; }
  }
  &--blue {
    background-color: $brand-color;
    color: $white;
    &:visited { color: $white; }
  }
  &-mobile {
    background-color: $white;
    border: none;
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -$site-padding;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    top: 50%;
    width: $site-padding * 2;
    &:before {
      content: "";
      background-color: $white;
      height: 2px;
      left: 0;
      position: absolute;
      top: -10px;
      width: 100%;
    }
    &:after {
      content: "";
      background-color: $white;
      bottom: -10px;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  &.nav-mobile.is-active { background-color: $gray-dark; }
}