.content {
  background-color: $white-dark;
  border-top: 1px solid $gray;
  position: relative;
  &:before {
    content: "";
    background-color: $gray-light;
    border-left: 1px solid $gray;
    height: 100%;
    position: absolute;
    right: 0;
    width: calc(50% - 277px);
    @media only screen and (max-width: 991px) {
      display: none;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      width: calc(50% - 245px);
    }
  }
  &-article {
    padding-left: 0;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding-right: 0;
    }
    @media only screen and (max-width: 767px) {
      padding-right: 0;
    }
  }
  .article {
    padding-right: $site-padding * 2;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      padding-right: 0;
    }
    @media only screen and (max-width: 767px) {
      padding-right: 0;
    }
  }
}