.form {
  &-field {
    margin: $site-padding 0;
    position: relative;
    @extend .clearfix;
    &:first-child { margin-top: 0; }
  }
  &-label {
    color: $brand-color;
    font-family: $brand-font;
    font-size: 11px;
    display: block;
    margin: $site-padding 0;
  }
  &-value {
    margin: $site-padding 0;
    position: relative;
  }
  &-btn {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    display: inline-block;
    font-family: $brand-font-bold;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 25px;
    text-transform: uppercase;
    @extend .transition-0_5s;
    &:hover {
      background-color: $white;
      color: $brand-color;
    }
  }
}