.overview {
  margin: $site-padding 0;
  &-rubric {
    color: $gray-dark;
    font-family: $brand-font-light;
    font-size: 36px;
    line-height: 50px;
    text-align: left;
    @media only screen and (max-width: 767px) {
      display: none;
    }
    &-mobile {
      display: none;
      @media only screen and (max-width: 767px) {
        border-top: 1px solid $gray;
        display: table-cell;
        font-size: 24px;
        line-height: 30px;
        padding-top: $site-padding;
      }
    }
  }
  &-label {
    color: $black;
    display: block;
    font-family: $brand-font-bold;
    font-size: 14px;
    line-height: 18px;
    @media only screen and (max-width: 767px) {
      font-size: 9px;
      line-height: 12px;
    }
  }
  &-value {
    color: $black;
    display: block;
    font-family: $brand-font;
    font-size: 14px;
    line-height: 18px;
    @media only screen and (max-width: 767px) {
      font-size: 10px;
      line-height: 12px;
    }
    &-up {
      color: $green;
      &:before { content: "+"; }
    }
    &-down { color: $red;
      &:before { content: "-"; }
    }
  }
  &-table {
    position: relative;
    @media only screen and (max-width: 767px) {
      margin-top: -1px;
    }
    &-title {
      color: $brand-color;
      font-family: $brand-font-bold;
      font-size: 14px;
      line-height: 15px;
      padding-bottom: $site-padding;
      padding-top: $site-padding;
      position: relative;
      text-align: center;
      @media only screen and (max-width: 767px) {
        display: none;
      }
      &:first-child {
        color: $gray-dark;
        text-align: left;
        text-transform: uppercase;
        &:before {
          content: "";
          background-color: $brand-color;
          bottom: -1px;
          height: 1px;
          left: 0;
          position: absolute;
          width: $site-column;
          z-index: 5;
        }
      }
      &-mobile {
        color: $brand-color;
        display: none !important;
        font-family: $brand-font-bold;
        font-size: 12px;
        margin-bottom: 5px;
        @media only screen and (max-width: 767px) {
          display: block;
        }
      }
    }
    &-item {
      border-top: 1px solid $gray;
      padding-bottom: $site-padding;
      padding-top: $site-padding;
      text-align: center;
      &:first-child { text-align: left; }
      @media only screen and (max-width: 767px) {
        border-top: none;
      }
    }
  }
}