.related {
  margin: $site-padding 0;
  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-item {
    border-bottom: 1px solid $gray;
    padding-bottom: $site-padding;
    padding-top: $site-padding;
    @extend .clearfix;
    &:hover {
      .related {
        &-subtitle { color: $gray-dark; }
        &-title { color: $brand-color; }
        &-info { color: $gray-dark; }
        &-image {
          &:before { opacity: 0.5; }
        }
      }
    }
    & > *:first-child { margin-top: 0; }
    & > *:last-child { margin-bottom: 0; }
  }
  &-description { overflow: hidden; }
  &-link {
    display: block;
    @extend .clearfix;
  }
  &-image {
    float: left;
    display: block;
    height: 150px;
    margin-right: $site-padding * 2;
    overflow: hidden;
    position: relative;
    width: 270px;
    @media only screen and (max-width: 767px) {
      float: none;
      margin-right: 0;
      width: auto;
    }
    &:before {
      content: "";
      background-color: $brand-color;
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      @extend .transition-0_5s;
    }
    &-img {
      height: 100%;
    }
  }
  &-title {
    color: $gray-dark;
    display: block;
    font-family: $brand-font-light;
    font-size: 21px;
    height: 50px;
    line-height: 24px;
    margin: 10px 0;
    overflow: hidden;
    width: 280px;
    &-group {
      font-family: $brand-font-light;
      font-size: 32px;
      line-height: 42px;
      margin: 0;
      margin-bottom: $site-padding;
      @media only screen and (max-width: 767px) {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
  &-subtitle {
    color: $brand-color;
    display: block;
    font-family: $brand-font-bold;
    font-size: 13px;
    line-height: 15px;
    margin: 10px 0;
    text-transform: uppercase;
  }
  &-info {
    color: $brand-color;
    display: block;
    font-family: $brand-font;
    font-size: 11px;
    line-height: 15px;
    margin: 10px 0;
  }
  &-text {
    color: $gray-dark;
    display: block;
    font-family: $brand-font-light;
    font-size: 14px;
    line-height: 20px;
    margin: $site-padding 0;
  }
  &-more {
    color: $gray-dark;
    font-family: $brand-font-bold;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    &:before {
      content: "";
      border-top: 2px solid $brand-color;
      border-right: 2px solid $brand-color;
      height: 8px;
      margin-top: -4px;
      position: absolute;
      right: -$site-padding;
      top: 50%;
      width: 8px;
      @extend .rotate-45;
    }
    &:hover {
      color: $brand-color;
      &:before { border-color: $gray-dark; }
    }
  }
}