.search {
  &-btn {
    background-color: $white;
    border: none;
    &:hover {
      background-color: $gray;
    }
  }
  &-text {
    color: $gray-dark;
    display: inline-block;
    font-family: $brand-font-bold;
    font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
  }
  &-icon {
    float: right;
    height: $site-padding * 2;
    width: $site-padding * 2;
  }
}