@font-face {
  font-family: 'Opensans-regular';
  src: url('../fonts/opensans-regular.eot');
  src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-regular.woff2') format('woff2'),
  url('../fonts/opensans-regular.woff') format('woff'),
  url('../fonts/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans-bold';
  src: url('../fonts/opensans-bold.eot');
  src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-bold.woff2') format('woff2'),
       url('../fonts/opensans-bold.woff') format('woff'),
       url('../fonts/opensans-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans-light';
  src: url('../fonts/opensans-light.eot');
  src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-light.woff2') format('woff2'),
  url('../fonts/opensans-light.woff') format('woff'),
  url('../fonts/opensans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans-semibold';
  src: url('../fonts/opensans-semibold.eot');
  src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-semibold.woff2') format('woff2'),
  url('../fonts/opensans-semibold.woff') format('woff'),
  url('../fonts/opensans-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$img-dir: "../img/";
$border-radius-base: 0;

/*----fonts----*/
$brand-font: 'Opensans-regular', serif;
$brand-font-bold: 'Opensans-bold', serif;
$brand-font-light: 'Opensans-light', serif;
$brand-font-semibold: 'Opensans-semibold', serif;
$font-size-base: 14px;

/*---general---*/
$grid-columns: 12;
$container-md: 960px;
$container-lg: 1200px;
$site-column: 70px;
$grid-gutter-width: 30px;
$site-padding: $grid-gutter-width / 2;

/*---colors----*/
$white: #fff;
$white-dark: #f8f8f8;
$gray-light: #eee;
$gray: #cbcbcb;
$gray-dark: #636464;
$black: #353636;
$black-dark: #171717;

$brand-color-light: #58b4f5;
$brand-color: #007dc3;

$body-bg: $white;


body,html{
    font-family: $brand-font;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  &.mobile {
    overflow: hidden;
    .menu-drop-mobile {
      top: 0;
    }
  }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
b,
strong {
  font-family: $brand-font-bold;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}

::-webkit-input-placeholder {color: $white; font-family: $brand-color-light; }
::-moz-placeholder          {color: $white; font-family: $brand-color-light; }/* Firefox 19+ */
:-moz-placeholder           {color: $white; font-family: $brand-color-light; }/* Firefox 18- */
:-ms-input-placeholder      {color: $white; font-family: $brand-color-light; }


body {
  a {
    //color: $black;
    text-decoration: none;
    &:hover{
      //color: $brand-color;
      text-decoration: none;
      transition: 0.25s;
    }
    &:visited,
    &:focus {
      //color: $black;
      text-decoration: none;
    }
    &:not(:hover) {
      transition: 0.25s;
    }
  }
  button {
    &:visited,
    &:focus {
      outline: none;
    }
  }
}
.mobile {
  &-erase {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
.tablet {
  &-portrait {
    &-erase {
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
    }
  }
  &-erase {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      display: none;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      display: none;
    }
  }
}
.container {
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    max-width: 1024px;
    width: auto;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 768px;
    width: auto;
  }
  @media only screen and (max-width: 767px) {
    width: auto;
  }
}

.transition-0_5s{
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
.blur {
  -webkit-filter: blur(2px);
     -moz-filter: blur(2px);
          filter: blur(2px);
}
.rotate-45 {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.is-left { float: left; }
.is-right { float: right; }

.text {
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }
}
