@font-face {
  font-family: 'LindenHill-reg';
  src: url('../fonts/linden_hill-reg.eot');
  src: url('../fonts/linden_hill-reg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/linden_hill-reg.woff2') format('woff2'),
       url('../fonts/linden_hill-reg.woff') format('woff'),
       url('../fonts/linden_hill-reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansNarrow-reg';
  src: url('../fonts/ptsans_narrow-reg.eot');
  src: url('../fonts/ptsans_narrow-reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ptsans_narrow-reg.woff2') format('woff2'),
  url('../fonts/ptsans_narrow-reg.woff') format('woff'),
  url('../fonts/ptsans_narrow-reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sanday';
  src: url('../fonts/sunday.eot');
  src: url('../fonts/sunday.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sunday.woff2') format('woff2'),
  url('../fonts/sunday.woff') format('woff'),
  url('../fonts/sunday.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amperzand';
  src: url('../fonts/amperzand.eot');
  src: url('../fonts/amperzand.eot?#iefix') format('embedded-opentype'),
  url('../fonts/amperzand.woff2') format('woff2'),
  url('../fonts/amperzand.woff') format('woff'),
  url('../fonts/amperzand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$img-dir: "../img/";
$border-radius-base: 0;

/*----fonts----*/
$brand-font: 'Sanday', serif;
$brand-font-1: 'Amperzand', serif;
$font-family-base: "LindenHill-reg", arial;
$font-family-base-1: "PTSansNarrow-reg", arial;
$font-size-base: 14px;

/*---general---*/
$grid-columns: 12;
$container-md: 960px;
$container-lg: 1200px;
$site-column: 70px;
$grid-gutter-width: 30px;
$site-padding: $grid-gutter-width / 2;

/*---colors----*/
$white: #fff;
$white-dark: #f8f8f8;
$gray-light: #eee;
$gray: #d7d7d7;
$gray-1: #ababab;
$gray-dark: #707074;
$black: #272727;
$black-dark: #171717;

$brand-color: #6c1511;

$body-bg: $white;


body,html{
    font-family: $font-family-base;
    height: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  &.mobile {
    overflow: hidden;
    .menu-drop-mobile {
      top: 0;
    }
  }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  a {
    color: $black;
    text-decoration: none;
    &:hover{
      color: $brand-color;
      text-decoration: none;
      transition: 0.25s;
    }
    &:visited,
    &:focus {
      color: $black;
      text-decoration: none;
    }
    &:not(:hover) {
      transition: 0.25s;
    }
  }
  button {
    &:visited,
    &:focus {
      outline: none;
    }
  }
}
.mobile {
  &-erase {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
.tablet {
  &-portrait {
    &-erase {
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
    }
  }
  &-erase {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      display: none;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      display: none;
    }
  }
}
.container {
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    max-width: 1024px;
    width: auto;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    max-width: 768px;
    width: auto;
  }
  @media only screen and (max-width: 767px) {
    width: auto;
  }
}

.transition-0_5s{
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
.blur {
  -webkit-filter: blur(2px);
     -moz-filter: blur(2px);
          filter: blur(2px);
}
.btn-style {
  position: relative;
  z-index: 1;
  @extend .transition-0_5s;
  &:before {
    content: "";
    border: $white 2px solid;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    @extend .transition-0_5s;
  }
  &:after {
    content: "";
    background-color: $white;
    height: calc(100% - 14px);
    left: 7px;
    opacity: 0.8;
    position: absolute;
    top: 7px;
    width:  calc(100% - 14px);
    z-index: -1;
    @extend .transition-0_5s;
  }
  &:hover {
    &:before {
      border-color: $brand-color;
    }
    &:after {
      background-color: $brand-color;
    }
  }
}
.rotate-45 {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.is-left { float: left; }
.is-right { float: right; }

.text {
  &-left { text-align: left; }
  &-center { text-align: center; }
  &-right { text-align: right; }
}
