<div class="archive">
  <h3 class="title-border">nscope archives</h3>
  <p class="archive-text">Browse our vast database of knowledge and infromation by selecting posts for particular date:</p>

  <div class="form-field archive-form-field">
    <label class="form-label archive-form-label">NSCOPE Archive database</label>
    <div class="form-value archive-form-value">

      <div class="select">
        <span class="select-value">Select the month</span>
        <div class="select-drop">
          <ul class="select-drop-list">
            <li class="select-drop-item">
              <a href="#" title="" class="select-drop-link">January  2015 (12)</a>
            </li>
            <li class="select-drop-item">
              <a href="#" title="" class="select-drop-link">February  2015 (12)</a>
            </li>
            <li class="select-drop-item">
              <a href="#" title="" class="select-drop-link">March  2015 (12)</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>