<div class="article">

  <h3 class="article-theme">fintech featured news</h3>
  <h2 class="article-title">US stocks closed higher on friday despite mixed market data provided earlier</h2>
  <p class="article-text">A new generation of lenders is challenging the usefulness of one of the bedrocks of the modern financial</p>
  <p class="article-text"><img src="img/banner-img.jpg" alt="" class="article-image"></p>
  <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut ante porta, luctus urna a, posuere ligula. Maecenas at fringilla sapien. Praesent aliquet mattis auctor. Curabitur aliquam, lacus pellentesque semper elementum, turpis sapien aliquet dui, eget ornare lorem enim ac erat. Nunc semper neque odio, quis interdum felis facilisis nec. Donec vehicula, nulla non imperdiet mattis, justo mauris sagittis leo, et lobortis turpis lorem placerat tortor. Quisque interdum elit nec erat sollicitudin luctus. Phasellus tincidunt magna bibendum risus eleifend pretium. Fusce consequat, velit ut porttitor lobortis, erat enim dapibus nibh, in tristique ligula felis in leo. Sed elit mi, bibendum sed faucibus at, convallis nec lectus.</p>
  <h3 class="article-subtitle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </h3>
  <p class="article-text">Praesent adipiscing, magna eget iaculis tempus, velit est imperdiet ipsum, eget varius sapien tortor et eros. Donec venenatis ut nunc vitae tempus. Integer pretium vestibulum auctor. Nullam lorem lectus, gravida vitae ullamcorper at, mollis nec nisl. Fusce facilisis, nibh sit amet ultricies faucibus, leo sapien aliquam lacus, eu rutrum nulla ipsum vel ligula. Aenean volutpat dolor ut nisl luctus, nec dapibus erat condimentum. Nunc tortor purus, convallis eget urna nec, hendrerit scelerisque elit. Maecenas vitae augue id augue volutpat accumsan. Suspendisse eu dictum sem, sit amet vehicula est. Integer hendrerit odio eu risus commodo vulputate.</p>
  <p class="article-text">Curabitur odio nisi, bibendum sed dui vitae, gravida placerat enim. Cras eu elit erat. Etiam eget neque id turpis vulputate fringilla. Curabitur posuere eros in arcu pretium viverra. Nullam dapibus nisi sed dui lacinia adipiscing. Praesent fringilla orci ut lectus tristique aliquam. Cras at consectetur ipsum. Nunc magna dui, molestie at nibh quis, tincidunt commodo nisl. Ut iaculis luctus tempor. Curabitur id gravida turpis.</p>
  <p class="article-text"><img src="img/banner-img.jpg" alt="" class="article-image"></p>
  <p class="article-text">Vivamus rhoncus et eros ut dictum. Nulla suscipit turpis sed mauris lobortis tristique. Pellentesque a lobortis justo. Fusce eget massa blandit, gravida neque ut, ornare nisl. Aliquam auctor felis ac risus lacinia, a tempus lectus tincidunt. Etiam ullamcorper massa sed dignissim hendrerit. Mauris sit amet leo nec ante dapibus imperdiet.</p>
  <h3 class="article-subtitle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </h3>
  <p class="article-text">Nam pellentesque pretium mattis. Pellentesque sit amet neque elementum, ultricies ligula eget, rutrum lacus. Etiam ac felis egestas, suscipit odio at, elementum tellus. Vestibulum eu eleifend purus. In vehicula velit dapibus lorem lacinia tempor. Praesent ac convallis ipsum. Donec id orci ut lacus vestibulum sodales in non sapien. Nulla cursus tempus risus posuere rutrum. Vestibulum consectetur id dui vel aliquet. Aenean consectetur imperdiet risus porttitor commodo. Sed semper magna sed nibh luctus auctor.</p>

  <div class="article-modules">
    <ul class="article-modules-list">
      <li class="article-modules-item">
        //= tags.html
      </li>
      <li class="article-modules-item">
        //= share.html
      </li>
      <li class="article-modules-item">
        //= related-articles.html
      </li>
    </ul>
  </div>

  <a href="#" title="" class="article-back">return to fintech listing</a>

</div>