<div class="author author--contrast">
  <div class="author-avatar">
    <img src="img/avatar.jpg" alt="">
  </div>
  <h4 class="author-title">article written by</h4>
  <h3 class="author-name">John Dolmer</h3>
  <span class="author-date">Published on Jan 12 2016</span>

  <div class="author-share">
    <ul class="author-share-list">
      <li class="author-share-item">
        <a href="#" title="" class="author-share-link">
          <i class="icon icon-big icon-facebook"></i>
        </a>
      </li>
      <li class="author-share-item">
        <a href="#" title="" class="author-share-link">
          <i class="icon icon-big icon-twitter"></i>
        </a>
      </li>
      <li class="author-share-item">
        <a href="#" title="" class="author-share-link">
          <i class="icon icon-big icon-googleplus"></i>
        </a>
      </li>
      <li class="author-share-item">
        <a href="#" title="" class="author-share-link">
          <i class="icon icon-big icon-mail"></i>
        </a>
      </li>
    </ul>
    <p class="author-share-text">This article has been shared 456 time</p>
  </div>

</div>