<div class="banner">
  <a href="listing-open.html" title="" class="banner-click"></a>
  <div class="banner-image">
    <img src="img/banner-img.jpg" alt="">
  </div>
  <div class="container">
    <div class="row">

      <div class="banner-wrapper col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <div class="banner-description">
          <h3 class="banner-subtitle">breaking news</h3>
          <h2 class="banner-title">US stocks closed higher on friday despite mixed market data provided earlier</h2>
          <p class="banner-text">A new generation of lenders is challenging the usefulness of one of the bedrocks of the modern financial system: the FICO score.</p>
          <a href="listing-open.html" title="" class="banner-more">read more</a>
        </div>
      </div>

    </div>
  </div>
</div>