<header class="header">
  <div class="container">

    <a href="index.html" title="" class="logo">
      <span class="logo-title"><b>NS</b>cope</span>
      <span class="logo-subtitle">by Notz Stucki</span>
    </a>

    <div class="header-nav">

      <ul class="header-nav-list">
        <li class="header-nav-item">

          <ul class="nav-list nav-list--header">
            <li class="nav-item is-active">
              <a href="index.html" title="" class="nav-link">home</a>
            </li>
            <li class="nav-item">
              <a href="category-listing.html" title="" class="nav-link">Fintech</a>
            </li>
            <li class="nav-item">
              <a href="category-listing.html" title="" class="nav-link">Regulatory</a>
            </li>
            <li class="nav-item">
              <a href="category-listing.html" title="" class="nav-link">Investment</a>
            </li>
            <li class="nav-item">
              <a href="category-listing.html" title="" class="nav-link">NS Zoom</a>
            </li>
          </ul>

        </li>
        <li class="header-nav-item">

          <button class="search search-btn search-trigger header-nav-link">
              <span class="search-text">search</span>
              <i class="search-icon icon icon-big icon-search"></i>
          </button>

        </li>
        <li class="header-nav-item share--drop tablet-portrait-erase mobile-erase">
          <a href="javascript:;" title="" class="share--drop-trigger header-nav-link btn btn--black">
            <i class="icon icon-big icon-share"></i>
          </a>
          <div class="share--drop-item">
            <a share-social="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://nscope.notzstucki.com" title="" class="share--drop-link">
              <i class="share--drop-icon icon icon-facebook"></i>
            </a>
          </div>
          <div class="share--drop-item">
            <a share-social="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://nscope.notzstucki.com" title="" class="share--drop-link">
              <i class="share--drop-icon icon icon-linkedin"></i>
            </a>
          </div>
          <div class="share--drop-item">
            <a href="#" title="" class="share--drop-link">
              <i class="share--drop-icon icon icon-twitter"></i>
            </a>
          </div>
          <div class="share--drop-item">
            <a href="#" title="" class="share--drop-link">
              <i class="share--drop-icon icon icon-googleplus"></i>
            </a>
          </div>
        </li>
        <li class="header-nav-item tablet-portrait-erase mobile-erase">
          <a href="#" title="" class="header-nav-link btn btn--blue">
            <img src="img/logo-notzstucki-blue.png" alt="">
          </a>
        </li>
        <li class="header-nav-item header-nav-mobile">
          <a href="#" title="" class="header-nav-link btn btn--blue nav-mobile btn-mobile-trigger">
            <button class="btn-mobile"></button>
          </a>
        </li>
      </ul>
    </div>

  </div>

</header>

<div class="search search-drop">
  <div class="container">

    <div class="form-field">
      <input type="text" class="search-drop-input" placeholder="Please enter your search term here">
      <a href="search.html" title="" class="search-drop-btn"></a>
    </div>

  </div>
</div>
