<header class="header">
  <div class="container">

    <a href="#" title="" class="logo">
      <span class="logo-title"><b>NS</b>cope</span>
      <span class="logo-subtitle">by Notz Stucki</span>
    </a>

    <div class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">

          <button class="search search-btn header-nav-link">
              <span class="search-text">search</span>
              <i class="search-icon icon icon-big icon-search"></i>
          </button>

        </li>
        <li class="header-nav-item">
          <a href="#" title="" class="header-nav-link btn btn--black">
            <i class="icon icon-big icon-share"></i>
          </a>
        </li>
        <li class="header-nav-item">
          <a href="#" title="" class="header-nav-link btn btn--blue">Notz<br>stucki</a>
        </li>
      </ul>
    </div>

  </div>
</header>
