<div class="categories">
  <div class="container">

    <h3 class="title-border categories-title">latest from nscope categories</h3>
    <div class="row">

      <ul class="categories-list">
        <li class="categories-item col-lg-3">
          <a href="#" title="" class="categories-link">
            <span class="categories-image">
              <img src="img/categories-img-tumb-1.jpg" alt="" class="categories-image-img">
            </span>
            <span class="categories-subtitle">fintech</span>
            <span class="categories-title">E-Commerce Startup Hubba On Track to Raise $45 Million</span>
            <span class="categories-info">by John Dolmer, Jan 12 2016</span>
          </a>
        </li>
        <li class="categories-item col-lg-3">
          <a href="#" title="" class="categories-link">
            <span class="categories-image">
              <img src="img/categories-img-tumb-2.jpg" alt="" class="categories-image-img">
            </span>
            <span class="categories-subtitle">regulatory</span>
            <span class="categories-title">Great Recession threatens world financial markets</span>
            <span class="categories-info">by John Dolmer, Jan 12 2016</span>
          </a>
        </li>
        <li class="categories-item col-lg-3">
          <a href="#" title="" class="categories-link">
            <span class="categories-image">
              <img src="img/categories-img-tumb-3.jpg" alt="" class="categories-image-img">
            </span>
            <span class="categories-subtitle">investment</span>
            <span class="categories-title">Some OPEC Members Want Urgent Meeting, Says Nigeria</span>
            <span class="categories-info">by John Dolmer, Jan 12 2016</span>
          </a>
        </li>
        <li class="categories-item col-lg-3">
          <a href="#" title="" class="categories-link">
            <span class="categories-image">
              <img src="img/categories-img-tumb-4.jpg" alt="" class="categories-image-img">
            </span>
            <span class="categories-subtitle">ns zoom</span>
            <span class="categories-title">Reluctant CFOs Need to Spend Money to Make Money</span>
            <span class="categories-info">by John Dolmer, Jan 12 2016</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
