<div class="categories">
  <div class="container">

    <h3 class="title-border categories-title">latest from nscope categories</h3>
    <div class="row">

      <ul class="categories-list">
        <li class="categories-item col-lg-3">
          <div class="categories-image">
            <img src="/img/categories-img-tumb-1.jpg" alt="" class="categories-image-img">
          </div>
          <h3 class="categories-subtitle">fintech</h3>
          <h3 class="categories-title">E-Commerce Startup Hubba On Track to Raise $45 Million</h3>
          <span class="categories-info">by John Dolmer, Jan 12 2016</span>
        </li>
        <li class="categories-item col-lg-3">
          <div class="categories-image">
            <img src="/img/categories-img-tumb-2.jpg" alt="" class="categories-image-img">
          </div>
          <h3 class="categories-subtitle">regulatory</h3>
          <h3 class="categories-title">Great Recession threatens world financial markets</h3>
          <span class="categories-info">by John Dolmer, Jan 12 2016</span>
        </li>
        <li class="categories-item col-lg-3">
          <div class="categories-image">
            <img src="/img/categories-img-tumb-3.jpg" alt="" class="categories-image-img">
          </div>
          <h3 class="categories-subtitle">investment</h3>
          <h3 class="categories-title">Some OPEC Members Want Urgent Meeting, Says Nigeria</h3>
          <span class="categories-info">by John Dolmer, Jan 12 2016</span>
        </li>
        <li class="categories-item col-lg-3">
          <div class="categories-image">
            <img src="/img/categories-img-tumb-4.jpg" alt="" class="categories-image-img">
          </div>
          <h3 class="categories-subtitle">ns zoom</h3>
          <h3 class="categories-title">Reluctant CFOs Need to Spend Money to Make Money</h3>
          <span class="categories-info">by John Dolmer, Jan 12 2016</span>
        </li>
      </ul>

    </div>
  </div>
</div>
