<div class="row">

  <div class="nav">
    <h3 class="nav-title">N-SCope categories</h3>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#" title="" class="nav-link">home</a>
      </li>
      <li class="nav-item">
        <a href="#" title="" class="nav-link">Fintech</a>
      </li>
      <li class="nav-item">
        <a href="#" title="" class="nav-link">Regulatory</a>
      </li>
      <li class="nav-item">
        <a href="#" title="" class="nav-link">Investment</a>
      </li>
      <li class="nav-item">
        <a href="#" title="" class="nav-link">NS Zoom</a>
      </li>
    </ul>
  </div>

</div>