<div class="container">
  <div class="row">
    <div class="search-result search-empty">

      <div class="search-nav">
        //= ../components/navigation.html
      </div>

      <div class="col-lg-8">
        <h2 class="search-empty-title">Your search for the term <span class="search-result-key">“Business and Financial Europe”</span> has resulted in 0 found articles</h2>
        <p class="search-empty-text">We are sorry that your search resulted empty, please inspect if you wrote search terms correctly or you can also try to search for something else. If nothing else, you can always go back to our homepage,</p>
        <div class="search-empty-field">
          <input type="text" class="search-empty-input" placeholder="Please enter your search term here">
          <a href="search.html" title="" class="search-empty-btn"></a>
        </div>
        <a href="#" title="" class="search-empty-more">return to homepage</a>
      </div>


    </div>
  </div>
</div>