<div class="share">
  <h3 class="share-title">reccommend and share this article <span class="mobile-erase tablet-erase">with someone you think might like it</span></h3>
  <ul class="share-list">
    <li class="share-item">
      <a href="#" title="" class="share-link">
        <i class="icon icon-big icon-facebook"></i>
      </a>
    </li>
    <li class="share-item">
      <a href="#" title="" class="share-link">
        <i class="icon icon-big icon-twitter"></i>
      </a>
    </li>
    <li class="share-item">
      <a href="#" title="" class="share-link">
        <i class="icon icon-big icon-googleplus"></i>
      </a>
    </li>
    <li class="share-item">
      <a href="#" title="" class="share-link">
        <i class="icon icon-big icon-linkedin"></i>
      </a>
    </li>
    <li class="share-item">
      <a href="#" title="" class="share-link">
        <i class="icon icon-big icon-mail"></i>
      </a>
    </li>
  </ul>
</div>