<div class="tags">
  <h3 class="tags-title">article taged by</h3>
  <ul class="tags-list">
    <li class="tags-item">
      <a href="404.html" title="" class="tags-link">Tag title</a>
    </li>
    <li class="tags-item">
      <a href="404.html" title="" class="tags-link">Tag title</a>
    </li>
    <li class="tags-item">
      <a href="404.html" title="" class="tags-link">Tag title</a>
    </li>
    <li class="tags-item">
      <a href="404.html" title="" class="tags-link">Tag title</a>
    </li>
    <li class="tags-item">
      <a href="404.html" title="" class="tags-link">Tag title</a>
    </li>
    <li class="tags-item">
      <a href="404.html" title="" class="tags-link">Tag title</a>
    </li>
  </ul>
</div>