<div class="theme">
  <h3 class="title-border theme-title">fintech news</h3>
  <ul class="theme-list">
    <li class="theme-item">
      <div class="theme-image">
        <img src="img/categories-img-tumb-5.jpg" alt="" class="theme-image-img">
      </div>
      <div class="theme-description">
        <span class="theme-title">Oil Plunge Sparks Bankruptcy Concerns</span>
        <span class="theme-info">by John Dolmer, Jan 12 2016</span>
        <p class="theme-text">Allegations of harassment by refugees at Stockholm festival have prompted a review of police action and threaten to exacerbate anti-migrant sentiment. <a href="#" title="" class="theme-more">read more</a></p>
      </div>
    </li>
    <li class="theme-item">
      <div class="theme-image">
        <img src="img/categories-img-tumb-6.jpg" alt="" class="theme-image-img">
      </div>
      <div class="theme-description">
        <span class="theme-title">Oil Plunge Sparks Bankruptcy Concerns</span>
        <span class="theme-info">by John Dolmer, Jan 12 2016</span>
        <p class="theme-text">Allegations of harassment by refugees at Stockholm festival have prompted a review of police action and threaten to exacerbate anti-migrant sentiment. <a href="#" title="" class="theme-more">read more</a></p>
      </div>
    </li>
    <li class="theme-item">
      <div class="theme-image">
        <img src="img/categories-img-tumb-7.jpg" alt="" class="theme-image-img">
      </div>
      <div class="theme-description">
        <span class="theme-title">Oil Plunge Sparks Bankruptcy Concerns</span>
        <span class="theme-info">by John Dolmer, Jan 12 2016</span>
        <p class="theme-text">Allegations of harassment by refugees at Stockholm festival have prompted a review of police action and threaten to exacerbate anti-migrant sentiment. <a href="#" title="" class="theme-more">read more</a></p>
      </div>
    </li>
    <li class="theme-item">
      <div class="theme-image">
        <img src="img/categories-img-tumb-1.jpg" alt="" class="theme-image-img">
      </div>
      <div class="theme-description">
        <span class="theme-title">Oil Plunge Sparks Bankruptcy Concerns</span>
        <span class="theme-info">by John Dolmer, Jan 12 2016</span>
        <p class="theme-text">Allegations of harassment by refugees at Stockholm festival have prompted a review of police action and threaten to exacerbate anti-migrant sentiment. <a href="#" title="" class="theme-more">read more</a></p>
      </div>
    </li>
    <li class="theme-item">
      <div class="theme-image">
        <img src="img/categories-img-tumb-2.jpg" alt="" class="theme-image-img">
      </div>
      <div class="theme-description">
        <span class="theme-title">Oil Plunge Sparks Bankruptcy Concerns</span>
        <span class="theme-info">by John Dolmer, Jan 12 2016</span>
        <p class="theme-text">Allegations of harassment by refugees at Stockholm festival have prompted a review of police action and threaten to exacerbate anti-migrant sentiment. <a href="#" title="" class="theme-more">read more</a></p>
      </div>
    </li>
  </ul>
</div>