<div class="theme theme--short">
  <h3 class="title-border">featured fintech news</h3>
  <ul class="theme-list">
    <li class="theme-item">
      <a href="listing-open.html" title="" class="theme-image">
        <img src="img/categories-img-tumb-1.jpg" alt="" class="theme-image-img">
      </a>
      <div class="theme-description">
        <a href="listing-open.html" title="" class="theme-title">Oil Plunge Sparks Bankruptcy Concerns</a>
        <span class="theme-info">by John Dolmer, Jan 12 2016</span>
      </div>
    </li>
    <li class="theme-item">
      <a href="listing-open.html" title="" class="theme-image">
        <img src="img/categories-img-tumb-2.jpg" alt="" class="theme-image-img">
      </a>
      <div class="theme-description">
        <a href="listing-open.html" title="" class="theme-title">Oil Plunge Sparks Bankruptcy Concerns</a>
        <span class="theme-info">by John Dolmer, Jan 12 2016</span>
      </div>
    </li>
    <li class="theme-item">
      <a href="listing-open.html" title="" class="theme-image">
        <img src="img/categories-img-tumb-3.jpg" alt="" class="theme-image-img">
      </a>
      <div class="theme-description">
        <a href="listing-open.html" title="" class="theme-title">Oil Plunge Sparks Bankruptcy Concerns</a>
        <span class="theme-info">by John Dolmer, Jan 12 2016</span>
      </div>
    </li>
    <li class="theme-item">
      <a href="listing-open.html" title="" class="theme-image">
        <img src="img/categories-img-tumb-4.jpg" alt="" class="theme-image-img">
      </a>
      <div class="theme-description">
        <a href="listing-open.html" title="" class="theme-title">Oil Plunge Sparks Bankruptcy Concerns</a>
        <span class="theme-info">by John Dolmer, Jan 12 2016</span>
      </div>
    </li>
  </ul>
</div>