<div class="container line-object">
  <div class="row">

    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

      <div class="news">
        <h3 class="title-border">featured news</h3>
        <div class="row">
          <ul class="news-list">
            <li class="news-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a href="category-listing.html" title="" class="news-link">
                <span class="news-image">
                  <img src="img/categories-img-tumb-5.jpg" alt="" class="news-image-img">
                </span>
                <span class="news-title">Oil Plunge Sparks Bankruptcy Concerns</span>
                <span class="news-info">by John Dolmer, Jan 12 2016</span>
              </a>
            </li>
            <li class="news-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a href="category-listing.html" title="" class="news-link">
                <span class="news-image">
                  <img src="img/categories-img-tumb-6.jpg" alt="" class="news-image-img">
                </span>
                <span class="news-title">Financial Crisis Still  Divides Democrats</span>
                <span class="news-info">by John Dolmer, Jan 12 2016</span>
              </a>
            </li>
            <li class="news-item col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a href="category-listing.html" title="" class="news-link">
                <span class="news-image">
                  <img src="img/categories-img-tumb-7.jpg" alt="" class="news-image-img">
                </span>
                <span class="news-title">Financial Crisis Still  Divides Democrats</span>
                <span class="news-info">by John Dolmer, Jan 12 2016</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 tablet-portrait-erase mobile-erase">

      //= ../components/archive.html

    </div>

  </div>
</div>

