<div class="container">
  <div class="row">

    <div class="col-lg-9">

      <div class="news">
        <h3 class="title-border news-title">featured news</h3>
        <div class="row">
          <ul class="news-list">
            <li class="news-item col-lg-4">
              <a href="#" title="" class="news-link">
                <span class="news-image">
                  <img src="/img/categories-img-tumb-5.jpg" alt="" class="news-image-img">
                </span>
                <span class="news-title">Oil Plunge Sparks Bankruptcy Concerns</span>
                <span class="news-info">by John Dolmer, Jan 12 2016</span>
              </a>
            </li>
            <li class="news-item col-lg-4">
              <a href="#" title="" class="news-link">
                <span class="news-image">
                  <img src="/img/categories-img-tumb-6.jpg" alt="" class="news-image-img">
                </span>
                <span class="news-title">Financial Crisis Still  Divides Democrats</span>
                <span class="news-info">by John Dolmer, Jan 12 2016</span>
              </a>
            </li>
            <li class="news-item col-lg-4">
              <a href="#" title="" class="news-link">
                <span class="news-image">
                  <img src="/img/categories-img-tumb-7.jpg" alt="" class="news-image-img">
                </span>
                <span class="news-title">Financial Crisis Still  Divides Democrats</span>
                <span class="news-info">by John Dolmer, Jan 12 2016</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-lg-3">

      //= ../components/archive.html

    </div>

  </div>
</div>

