<div class="giraffe">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 col-xs-12">
        <h2 class="title mobile-erase">Discover Daily Global Financial News and Events with these Categories:</h2>

        <div class="form-field select-filter-mobile select-filter-content">
          <label class="form-label mobile-erase">N-SCope categories</label>
          <div class="form-value">

            <div class="select">
              <span class="select-value">Select the category</span>
              <div class="select-drop">
                <ul class="select-drop-list">
                  <li class="select-drop-item">
                    <a href="category-listing.html" title="" class="select-drop-link">Fintech</a>
                  </li>
                  <li class="select-drop-item">
                    <a href="category-listing.html" title="" class="select-drop-link">Investment</a>
                  </li>
                  <li class="select-drop-item">
                    <a href="category-listing.html" title="" class="select-drop-link">Regulatory</a>
                  </li>
                  <li class="select-drop-item">
                    <a href="category-listing.html" title="" class="select-drop-link">NSZoom</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12">
        //= ../components/navigation.html
      </div>

    </div>
  </div>
</div>